@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("img/sea2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.wrapper{
    width: 480px;
    height: auto;
    display: inline-block;
    position: center;
    border: 2px solid white;
    background-color: white;
    margin: 30px;
    padding: 20px;
    margin-left: 450px;
}

.plane {
    width: 420px;
    height: 200px;
    margin-left: 5px;
    margin-top: 10px;
}

h1, h2, h3, h4, h6{
    margin-left: 5px;
    font-size: 25px;
    margin-top: 20px;
}

p{
    font-size: 15px;
    margin: 10px 10px;
}

.bold{
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
}

.border{
    border-top: 2px solid gray;
    margin-right: 17px;
    padding: 20px;
    margin-top: 40px;
}

.list{
    display: inline-block;
    vertical-align: top;
    width: 220px;
    height: 100px;
    line-height: 2.1;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.list1{
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    line-height: 2.1;
    list-style: none;
    margin-bottom: 20px;
}
