*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery_img{
    display: block;
    width: 45%;
    margin-bottom: 15px;
}

.gallery_img:nth-last-child(-n+2){
    margin-bottom: 0;
}

